@model SportsClubOrganizer.Web.Models.Team
@{
    ViewData["Title"] = "ChangeTeamInfo";
}

<div class="page-info">
    <h2>Change Team Information</h2>

    <form asp-controller="User" asp-action="ChangeMyTeamInfo" method="post">
        <p>
            <label asp-for="Name"></label>
        </p>
        <p>
            <input type="text" asp-for="Name" value="@Model.Name" placeholder="enter team name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Org"></label>
        </p>
        <p>
            <input type="text" asp-for="Org" value="@Model.Org" placeholder="enter organization" />
            <span asp-validation-for="Org"></span>
        </p>
        <p>
            <label asp-for="League"></label>
        </p>
        <p>
            <input type="text" asp-for="League" value="@Model.League" placeholder="enter league"/>
            <span asp-validation-for="League"></span>
        </p>
        <p>
            <label asp-for="PrimaryVenue"></label>
        </p>
        <p>
            <input type="text" asp-for="PrimaryVenue" value="@Model.PrimaryVenue" placeholder="enter primary venue" />
            <span asp-validation-for="PrimaryVenue"></span>
        </p>
        <p>
            <label asp-for="SecondaryVenue"></label>
        </p>
        <p>
            <input type="text" asp-for="SecondaryVenue" value="@Model.SecondaryVenue" placeholder="enter secondary venue" />
            <span asp-validation-for="SecondaryVenue"></span>
        </p>

        <input type="submit" value="Change Team Info" class="btn btn-default" />

        <a asp-controller="User" asp-action="UserHomePage">
            <input type="button" value="Back to My Account" class="btn btn-default" />
        </a>
    </form>
</div>