@model SportsClubOrganizer.Web.Models.Player

@{
    ViewData["Title"] = "UpdateAPlayer";
}
<div class="page-info">
    <h2>Update @Model.FirstName @Model.LastName's Information</h2>

    <form asp-action="UpdateAPlayer">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <p>
            <label asp-for="FirstName" class="control-label">First Name</label>
        </p>
        <p>
            <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="LastName" class="control-label">Last Name</label>
        </p>
        <p>
            <input asp-for="LastName" class="form-control" value="@Model.LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="Email" class="control-label">Email</label>
        </p>
        <p>
            <input asp-for="Email" class="form-control" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </p>
        <p>
            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
        </p>
        <p>
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" id="phoneNumber" maxlength="16" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </p>
        <input type="submit" value="Update Player Info" class="btn btn-default" />
        <a asp-controller="User" asp-action="ViewMyRoster">
            <input type="button" value="Back to Roster" class="btn btn-default" />
        </a>
        <a asp-controller="User" asp-action="UserHomePage" method="post">
            <input type="button" value="Back to Home Page" class="btn btn-default" />
        </a>

    </form>
</div>

<script>
    function phoneFormat(input) {

        input = input.replace(/\D/g,'');

        input = input.substring(0,10);

        var size = input.length;
        if(size == 0){
                input = input;
        }else if(size < 4){
                input = '('+input;
        }else if(size < 7){
                input = '('+input.substring(0,3)+') '+input.substring(3,6);
        }else{
                input = '('+input.substring(0,3)+') '+input.substring(3,6)+' - '+input.substring(6,10);
        }
        return input;
    }

    document.getElementById('phoneNumber').addEventListener('keyup', function (evt) {
        var phoneNumber = document.getElementById('phoneNumber');
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        phoneNumber.value = phoneFormat(phoneNumber.value);
    });
</script>
