@using SportsClubOrganizer.Web.Models
@model List<SportsClubOrganizer.Web.Models.Team>
@{
    ViewData["Title"] = "ViewMyLeague";
}

<div class="page-info">
    <h2>Teams In My League</h2>
    <table class="team-table">
        <tr>
            <th>Team Name</th>
            @* <a asp-action="ViewMyLeague" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.TeamName)</a>*@
            <th>League</th>
            <th>Organization</th>
<<<<<<< HEAD
            <th><a asp-action="ViewMyLeague" asp-route-sortOrder="Primary">Primary Venue</a></th>
            <th><a asp-action="ViewMyLeague" asp-route-sortOrder="Secondary">Secondary Venue</a></th>
=======
            <th><a asp-action="ViewMyLeague" class="extra-links">Primary Venue</a></th>
            <th><a asp-action="ViewMyLeague" class="extra-links">Secondary Venue</a></th>
>>>>>>> 5f343220b0d06734f4adf9bf86e1afbdb70a470a
            @*<th><a asp-action="ViewMyLeague">Home Dates Available</a></th>
                <th><a asp-action="ViewMyLeague">Travel Dates Available</a></th>*@
        </tr>

        @foreach (Team team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.League</td>
                <td>@team.Org</td>
                <td>@team.PrimaryVenue</td>
                <td>@team.SecondaryVenue</td>
                @*<td>
                        @foreach (DateTime date in team.HomeDates)
                        {
                            @date.ToString("MM/dd/yyyy")

                        }
                    </td>
                    <td>
                        @foreach (DateTime date in team.TravelDates)
                        {
                            @date.ToString("MM/dd/yyyy")

                        }
                    </td>*@
            </tr>
        }
    </table>

    <a asp-controller="User" asp-action="UserHomePage" method="post">
        <input type="button" value="Back to Home Page" class="btn btn-default" />
    </a>
</div>