@using SportsClubOrganizer.Web.Models
@model List<Player>
@{
    ViewData["Title"] = "ViewMyRoster";
}

<h2>View My Roster</h2>
<div class="page-info">
    <h2>Schedule</h2>
    <table class="team-table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
        </tr>
        @foreach (Player player in Model)
        {
            <tr>
                <td><a asp-action="UpdateAPlayer" asp-controller="User" asp-route-id="@player.ID">@player.FirstName</a></td>
                <td>@player.LastName</td>
                <td>@player.PhoneNumber</td>
                @if (player.Email != null)
                {
                    <td>@player.Email</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
    <a asp-controller="User" asp-action="AddAPlayer" method="post">
        <input type="button" value="Add A Player" class="btn btn-default" />
    </a>

    <a asp-controller="User" asp-action="UserHomePage" method="post">
        <input type="button" value="Back to Home Page" class="btn btn-default" />
    </a>
</div>