@using SportsClubOrganizer.Web.Models.Messages
@model List<SportsClubOrganizer.Web.Models.Messages.MessagesModel>
@{
    ViewData["Title"] = "SeeMessagesResponse";
}
<div class="page-info">
    <h2>See Responses to Your Messages</h2>
    @if (Model.Count > 0)
    {
        <h3>Accepted Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if ((message.UserAccepted == "Accepted") && (message.AdminAccepted == "no"))
            {
                <table>
                    <tr>
                        <th>From:</th>
                        <td>@message.SentByName</td>
                    </tr>
                    <tr>
                        <th>Message:</th>
                        <td><p name="MessageBody">@message.MessageBody</p></td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td><p style="color: blue">Match Pending Approval- awaiting Admin to approve/decline.</p></td>
                    </tr>
                </table>
            }
        }

        <h3>Denied Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if (message.UserAccepted == "Declined")
            {
                <table>
                    <tr>
                        <th>From:</th>
                        <td>@message.SentByName</td>
                    </tr>
                    <tr>
                        <th>Message:</th>
                        <td><p name="MessageBody">@message.MessageBody</p></td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td><p style="color: #ee2e29">Match Declined- @message.SentByName have been notified.</p></td>
                    </tr>
                </table>
            }
        }

        <h3>League Admin Approved Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if ((message.UserAccepted == "Accepted") && (message.AdminAccepted == "Accepted"))
            {
                <table>
                    <tr>
                        <th>From:</th>
                        <td>@message.SentByName</td>
                    </tr>
                    <tr>
                        <th>Message:</th>
                        <td><p name="MessageBody">@message.MessageBody</p></td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td><p style="color: green">Match Accepted- this match has been added to your schedule.</p></td>
                    </tr>
                </table>
            }
        }
    }
    else
    {
        <p>You have no new messages!</p>
    }

    <a asp-controller="Message" asp-action="Index" method="post">
        <input type="button" value="Back to Messages" class="btn btn-default" />
    </a>
    <a asp-controller="User" asp-action="UserHomePage" method="post">
        <input type="button" value="Back to My Account" class="btn btn-default" />
    </a>

</div>

