@using SportsClubOrganizer.Web.Models.Messages
@model List<SportsClubOrganizer.Web.Models.Messages.MessagesModel>
@{
    ViewData["Title"] = "SeeMessagesResponse";
}
<div class="page-info">
    <h2>See Messages</h2>
    @if (Model.Count > 0)
    {
        <h3>Accepted Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if ((message.UserAccepted == "Accepted") && (message.AdminAccepted == "no"))
            {
                <p> From: @message.SentByName </p>
                <p name="MessageBody"> @message.MessageBody </p>
                <p> Match pending Admin approval </p>
                <br />
            }
        }

        <h3>Denied Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if (message.UserAccepted == "Declined")
            {
                <p> From: @message.SentByName </p>
                <p name="MessageBody"> @message.MessageBody </p>
                <p> Match declined, @message.SentByName have been notified </p>
                <br />
            }
        }

        <h3>League Admin Approved Requests:</h3>
        @foreach (MessagesModel message in Model)
        {
            @if ((message.UserAccepted == "Accepted") && (message.AdminAccepted == "Accepted"))
            {
                <p> From: @message.SentByName </p>
                <p name="MessageBody"> @message.MessageBody </p>
                <p> Match added to your schedule! </p>
                <br />
            }
        }

    }
    else
    {
        <p>You have no new messages!</p>
    }
    <a asp-controller="Message" asp-action="Index">
        <input type="button" value="Back" class="btn btn-default" />
    </a>

</div>


